html, body{
	height:100%;
	position:relative;
}
section{
	height:auto;
	min-height: 100%;
}

#home{
	text-align:center;
	background-color:#efefef;
}

#headerbanner img{
  margin-top:-60px; 
  height:190px;
}
@media all and (max-width: 520px){
  #headerbanner img{
    width:100%;
    height:auto;
    margin-top:-30px;
  }
}
#home h1{
}
#home h2{
	font-size:1.5em;
}

.row-centered {
    text-align:center;

}

#youtubefollow > div{
	height:70px !important;
	padding-top:15px !important;
}

#twitterfollow, #googlefollow{
	margin-top:25px;
}


@media (min-width: 1000px) {
#rightdance{
	background:url('/2014/images/alvish.gif') no-repeat;
	background-size:50%;
	width:30%;
	position:absolute;
	right:-100px;
	top:210px;
	height:100%;
}
#leftdance{
	background:url('/2014/images/charu.gif') no-repeat;
	background-size:50%;
	width:30%;
	position:absolute;
	left:70px;
	top:210px;
	height:100%;
}
}

#promovid iframe{
	display:block;
	margin: 0 auto;
}

@media all and (max-width: 560px) {
#promovid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
#promovid iframe,
#promovid object,
#promovid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
}

#timer{
	margin-top:20px;
}

nav{
	z-index:100;
}
nav ul{
	background:#abcdef;
	display: inline-block; 
	float: none; 
	margin:5px auto 0;
}
#navhomeimg{
	position: absolute;
	left: -48px;
	width: 60px;
	top: -10px;
	display:none;
}
@media all and (max-width: 560px) {
nav ul{
	margin:0px auto 0;
}
#navhomeimg{
	left:5px;
}
}
#navplaceholder{
	display:none;
}
.sectionhead{
	display:none;
}
.sectioncontent{
	padding-top:100px;
}

#events{
	background-color:#dedede;
}

#eventnav {
	padding-left:0px;
	margin-left:-10px;
	overflow-y: scroll;
}

.nav>div>div>li{
	position:relative;
	display:block
}

.nav>div>div>li>a{
	position:relative;
	display:block;
	padding:10px 15px
}

.nav>div>div>li>a:hover,.nav>div>div>li>a:focus{
	text-decoration:none;
	background-color:#eee
}


.nav-pills>div>div>li{
	float:left
}

.nav-pills>div>div>li>a{
	border-radius:4px
}

.nav-pills>div>div>li+li{
	margin-left:2px
}

.nav-pills>div>div>li.active>a,.nav-pills>div>div>li.active>a:hover,.nav-pills>div>div>li.active>a:focus{
	color:#fff;
	background-color:#428bca
}

.nav-stacked>div>div>li{
	float:none
}

.nav-stacked>div>div>li+li{
	margin-top:2px;
	margin-left:0
}

.ui-accordion .ui-accordion-content {
    padding: 0px;
    }
.ui-accordion-header{
	word-break:break-all;
}

#eventdetails{
	height:auto;
	overflow:auto;
	position:relative;
}

#sponsors{
	background:#cdcdcd;	
}
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}
#contact{
	background:#dfdfdf;
}

footer{
  text-align:center;
}
