body{
	background: black;
    color:wheat;
}

@media all and (min-width: 520px) {
  h1 {
    	font-size:4em;
	margin-top:50px;
	padding-top:50px;
  }
}

@media all and (min-width: 900px) {
.twitter{
	position:relative;
	left: 160px;
}
.fb-like-box{
	left: -150px;
}
h3, .clock{
	position:relative;
	top:200px;
}
}

h1, h2, h3{
  	text-align:center;
}

.socialmedia{
	text-align:center;
}
