
.clock {
    text-align:center;
    margin:0 auto;
}

.clock_days, .clock_hours, .clock_minutes, .clock_seconds  {
    display: inline-block;
}


.val {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:47px;
    font-weight:bold;
    color:#555;
    text-align:center;
    line-height:50px;
    margin-top:-10px;

}

.type_days, .type_hours, .type_minutes, .type_seconds {
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align:center;
    font-size:15px;
    margin-top:-5px;
    font-weight:bold;
    text-transform:uppercase;
}

.type_days{
    color:#ff6565;
}

.type_hours {
    color:#378cff;
}

.type_minutes {
    color:#9cdb7d;
}

.type_seconds {
    color:#ffdc50;
}
